/* ======================== */
/* MAIN AND GATE */
/* ======================== */

:root {
    --violet-main: #7e57c2;
    --violet-light: #f3e5f5;
}

body {
    background-color: var(--violet-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.scene-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

/* CONTENT WARPER */
.content-wrapper {
    position: relative;
    
    width: 100vmin;
    height: 100vmin;

    transition: transform 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.gate, .table, .cake {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --- LAYER 1: Tableeeee --- */
.table {
    z-index: 1;

    width: 40%;
    height: auto;
    top: 55%;
}

.table img {
    width: 100%;
    height: auto;
}

/* --- LAYER 2: Cakkie --- */
.cake {
    z-index: 2;
    width: 15%;
    height: auto;
    
    top: 40%;
}

.cake img {
    width: 100%;
    height: auto;
}

/* --- LAYER 3: Gate --- */
.gate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gate img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 15px rgba(126, 87, 194, 0.4));
    z-index: 1;
}

.is-zoomed {
    transform: scale(3.5) translateY(50px); 
}

.is-zoomed .gate {
    transition: transform ease 0.5s;
}